.main-content .label-desc{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 7px;
    padding-top: 8px;
    padding-bottom: 13px;
    line-height: 30px;
    background-color: white;
    border: 1px solid #E1E1E1;
    border-radius: 10px;
}
.main-content .label-desc h2{
    position: relative;
    padding: 0 25px;
    margin-top: 0;
}
.main-content .label-desc h2 small:nth-child(1){
    /*clear: both;*/
    padding: 5px 20px;
    margin-right: 30px;
    background-color: #E67E22;
    color: white;
    /*设置文本不可选中*/
    -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;       /*IE10*/
    -khtml-user-select:none;    /*早期浏览器*/
    user-select:none;
}
.main-content .label-desc h2 small:nth-child(2){
    /*clear: both;*/
    display: inline-block;
    position: relative;
    top: 11px;
    left: -40px;
    width: 0;
    height: 0;
    line-height:0;
    border-width: 19px;
    border-style: solid;
    border-color: transparent transparent transparent #E67E22;
    /*设置文本不可选中*/
    -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;       /*IE10*/
    -khtml-user-select:none;    /*早期浏览器*/
    user-select:none;
}
.main-content .label-desc h2 small:nth-child(3){
    margin-left: -40px;
}


.main-content .none-hint{
    width: 100%;
    margin-bottom: 15px;
    padding: 100px 0;
    background-color: white;
    border: 1px solid #E1E1E1;
    border-top: 5px solid #E1E1E1;
    text-align: center;
    font-size: 25px;
    color: #a0a0a0;
}

/*标签页不同于今日推荐的样式*/
.recommend{
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-width: 1px;
}
.recommend:hover{
    background-color: #f8f8f8;
}


/*加载更多*/
.footer{
    text-align: center;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 30px;
}
.footer .more{
    color: #E67E22;
    cursor: pointer;
}
.footer .loading img{
    width: 30px;
}