
/*发布*/
.main-content .put-out{
    width: 100%;
    height: 235px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-left: 7%;
    padding-right: 7%;
    border-radius: 10px;
    font-family: "微软雅黑", "Arial", "sans-serif";
    color: rgb(51, 51, 51);
    background-color: white;
    border: 2px solid #E1E1E1;
}
.main-content .put-out i{
    display: inline-block;
    margin-top: 10px;
    font-size: 17px;
    font-family: "华文细黑", "Arial", "sans-serif";
    font-weight: normal;
}
.main-content .put-out .input-group{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
#put-out-title{
    width: 70%;
    height: 30px;
}
#put-out-content{
    height: 100px;
    resize: none;
}
.main-content .put-out .input-group .form-control:focus{
    box-shadow: none;
    border-color: #E67E22;
}
.put-out-footer .wrapper button{
    float: right;
    width: 46px;
    margin-top: 2px;
    margin-right: 5%;
    text-align: left;  /*“发布中”时，不会随...的改变而文字移动*/
    background-color: #E67E22;
    color: white;
}
/*发布按钮，输入框中没有内容时，按钮无效*/
.put-out-footer .wrapper .btn-invalid{
    opacity: 0.7;
}
/*用户已输入内容，发布按钮有效*/
.put-out-footer .wrapper .btn-valid{
    opacity: 1;
}
/*公开 / 仅自己可见*/
.visibility{
    float: right;
    margin-top: 2px;
    margin-right: 10px;
}
.visibility a span.glyphicon-globe{
    color: rgb(119, 163, 211);
}
.visibility a span.glyphicon-lock{
    color: rgb(156, 119, 213);
}

/*上传图片*/
.insert-picture{
    float: left;
    width: 50px;
    padding-top: 9px;
    margin-left: 3%;
    cursor: pointer;
}
.insert-picture:hover{
    color: rgb(255, 164, 5);
}
.insert-picture .glyphicon{
    padding-right: 5px;
    color: rgb(255, 164, 5);   /*设置图片图标的颜色*/
}
/*预览图片*/
.preview-picture{
    position: relative;
    margin-left: 90px;
    padding-top: 3px;
    width: 100px;
}
.preview-picture button{
    background-color: #E67E22;
    border-color: #E67E22;
    opacity: 0.8;
    color: white;
}
.preview-picture button:hover{
    background-color: #E67E22;
    border-color: #E67E22;
    opacity: 1;
    color: white;
}
.preview-picture span{
    position: absolute;  /*设置删除图标定位在预览按钮的右上方*/
    top: -9px;
    left: 60px;
    margin-left: 3px;
    margin-top: 7px;
    border-radius: 6px;
    cursor: pointer;
    color: red;
}
.preview-picture span:hover{
    background-color: red;
    opacity: 0.5;
    color: #E1E1E1;
}
#mask {
    position:fixed;
    width:100%;
    _position:absolute;
    top:0px;
    left:0px;
    z-index: 10000;
    /*_top:expression(documentElement.scrollTop);*/
    background:rgba(0,0,0,0.5);
    background:transparent\9;
    filter:progid:DXImageTransform.Microsoft.Gradient(
            startColorStr=#80000000,endColorStr=#80000000
    );
    display:none;
}
#mask_td {
    text-align:center;
    vertical-align: middle;
}

/*边栏*/
.sidebar{
    /*margin-top: 85px;*/
    background-color: white;
    border: 1px solid #E1E1E1;
}



/**************************************************************************/
/*作者个人主页*/
.main-content .author{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15px;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
    line-height: 30px;
    background-color: white;
    border: 1px solid #E1E1E1;
}

/*转发不同于普通动态样式*/
.dynamic .shared-head{
    margin-top: 10px;
    margin-left: 5%;
    position: relative;
}
.dynamic .shared-head img{
    width: 70px;
    height: 70px;
    margin-right: 10px;
    border-radius: 35px;
    -webkit-box-shadow:  5px 5px 5px #E1E1E1;
    -moz-box-shadow:  5px 5px 5px #E1E1E1;
    box-shadow:  5px 5px 5px #E1E1E1;
}
.dynamic .shared-head a{
    color: #E67E22;
}
.dynamic .shared-head time{
    position: absolute;
    top: 50px;
    left: 63px;
}
.dynamic .shared-reason{
    margin: 10px 5%;
    font-size: 16px;
}
/*转发中的原始文章*/
.original{
    width: 90%;
    margin-left: 5%;
    padding: 5px 30px 10px 20px;
    background-color: rgb(242,242,245);
}
.original .original-head{
    float: left;
}
.original .original-head .original-title{
    display: inline-block;
}
.original-title a, .original-author a{
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.original .original-head .original-title a{
    font-size: 25px;
    font-family: "Helvetica", "Arial", "sans-serif";
    color: black;
    text-decoration: none;
    display: inline-block;
    max-width: 200px;
}
.original .original-head .original-author a{
    margin-left: 20px;
    color: #E67E22;
    display: inline-block;
    margin-bottom: -15px;
    max-width: 90px;
}
.original .original-content{
    float: left;
    clear: both;
    margin-left: 0;
    margin-top: 10px;
    font-size: 17px;
    font-family: "Helvetica", "Arial", "sans-serif";
    font-weight: lighter;
    color: #444443;
}
.original .original-content p{
    font-size: 15px;
}
.original-content span{
    font-size: 14px;
    margin-left: 70%;
    cursor: pointer;
    color: #E67E22;
}
.original-content span:hover{
    color: #BB7E22;
}
.original .row .original-img img{
    width: 100%;
    height: 100%;
    margin-top: -60px;
    margin-bottom: 7px;
}




/*取出谷歌浏览器点击button时的默认蓝色轮廓*/
.put-out-footer .wrapper button{
    outline: none;    /*边框边缘的线，并不影响边框*/
}