nav.mine-sidebar {
    height: 100%;
    opacity: 0.9;
    padding: 20px 10px;
    margin-right: 30px;
    text-align: center;
    background: none repeat scroll 0 0 white;
    color: black;
    border: 3px solid #E1E1E1;
}
nav.mine-sidebar ul {
    margin: 0;
    padding: 0;
}
nav.mine-sidebar ul li{
    margin: 0;
    margin-top: 20px;
    margin-left: -4px;
    list-style-type: none;
    border-radius: 4px;
    text-align: center;
    padding: 4px;
    cursor: pointer;
}
nav.mine-sidebar ul li a{
    outline: 0;
    color: black;
    font-size: 20px;
    text-decoration: none;
}
nav.mine-sidebar ul li a span{
    margin-left: 2px;
    font-size: 11px;
    position: relative;
    bottom: 2px;
}
nav.mine-sidebar ul li:hover{
    background: none repeat scroll 0 0 rgb(238,238,238);
    border-radius: 4px;
    text-align: center;
    margin-left: -4px;
    padding: 4px;
    color: white;
}
nav.mine-sidebar ul li:hover a{
    color: #E67E22;
}
nav.mine-sidebar ul li.active {
    background: none repeat scroll 0 0 #E67E22;
    border-radius: 4px;
    text-align: center;
    margin-left: -4px;
    padding: 4px;
}
nav.mine-sidebar ul li.active a{
    color: white !important;
}
nav.mine-sidebar ul li.active a:hover {
    color: white !important;
}

.my-friends, .my-fans, .my-infos, .my-security, .my-collections, .my-poems, .my-shares, .aboutus{
    padding-bottom: 25px;
    border: 2px solid #E1E1E1;
    background-color: white;
}
.content-wrap .title{
    display: block;
    float: left;
    margin: 9px;
}
.my-friends .content, .my-fans .content, .my-infos .content, .my-collections .content, .my-poems .content, .my-shares .content{
    clear: both;
    padding-top: 10px;
    border-top: 2px solid #E1E1E1;
}
.no-friend, .no-fan, .no-collection, .no-poem, .no-share{
    margin: 60px 0;
    text-align: center;
    font-size: 25px;
    color: #a0a0a0;
}


/*各页面不同样式*/
.my-friends .friends .friend, .my-fans .fans .fan{
    float: left;
    display: inline-block;
    list-style: none;
    width: 200px;
    margin: 10px 15px;
    text-align: left;
    border: 1px dotted #E1E1E1;
    background-color: #FAFAFA;
    -webkit-box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}
.my-friends .friends .friend a, .my-fans .fans .fan a{
    display: block;
    text-decoration: none;
    outline: none;
}
.my-friends .friends .friend .head a, .my-fans .fans .fan .head a{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 20px 0 10px 50px;
}
.my-friends .friends .friend .head a img, .my-fans .fans .fan .head a img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    /*多重设置阴影*/
    -webkit-box-shadow: 0 15px 25px -4px rgba(0, 0, 0, 0.5),  /*右*/
            inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2),
            0 -10px 15px -1px rgba(255, 255, 255, 0.6),
            inset 0 3px 4px -1px rgba(255, 255, 255, 0.2),
            inset 0 0 5px 1px rgba(255, 255, 255, 0.8),
            inset 0 20px 30px 0 rgba(255, 255, 255, 0.2);
    -moz-box-shadow: 0 15px 25px -4px rgba(0, 0, 0, 0.5),
            inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2),
            0 -10px 15px -1px rgba(255, 255, 255, 0.6),
            inset 0 3px 4px -1px rgba(255, 255, 255, 0.2),
            inset 0 0 5px 1px rgba(255, 255, 255, 0.8),
            inset 0 20px 30px 0 rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 25px -4px rgba(0, 0, 0, 0.5),
            inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2),
            0 -10px 15px -1px rgba(255, 255, 255, 0.6),
            inset 0 3px 4px -1px rgba(255, 255, 255, 0.2),
            inset 0 0 5px 1px rgba(255, 255, 255, 0.8),
            inset 0 20px 30px 0 rgba(255, 255, 255, 0.2);
}
.my-friends .friends .friend .info, .my-fans .fans .fan .info{
    padding: 10px;
    background-color: white;
}
.my-friends .friends .friend .info span, .my-fans .fans .fan .info span{
    margin-right: 10px;
    color: rgb(68,68,68);
}
.my-friends .friends .friend .info span.name, .my-fans .fans .fan .info span.name{
    display: inline-block;
    padding: 0;
    /*width: 95px;*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*-ms-text-overflow: ellipsis;*/
    /*text-overflow: ellipsis;*/
}
/*性别图标*/
.my-friends .friends .friend .info span.gender, .my-fans .fans .fan .info span.gender{
    float: right;
    margin: 2px 0 0 0;
}
.my-friends .friends .friend .info span.male, .my-fans .fans .fan .info span.male{
    color: rgb(3, 149, 136);
}
.my-friends .friends .friend .info span.female, .my-fans .fans .fan .info span.female{
    color: rgb(244, 180, 202);
}
.my-friends .friends .friend .delete{
    display: block;
    float: right;
    margin: 10px 10px 4px 0;
    color: rgb(245,184,93);
}
.my-friends .friends .friend .delete:hover{
    color: #E67E22;
}
/*设置分页居中*/
.pageWrap{
    clear: both;
    text-align: center;
}
.pageWrap .m-pagination{
    display: inline-block;
}

/*在bootstrap.js添加了相应代码，使得模态框垂直居中*/
.modal .modal-dialog{    /*修改模态框的宽度，不是设置在.modal，而是.modal-dialog这个div*/
    width: 400px;
    height: 300px;
}
.modal h4{
    font-weight: normal;
}
.modal .modal-footer button{
    background-color: #E67E22;
    color: white;
    border-color: #E67E22;
}

/*个人资料*/
.my-infos .content .icon{
    margin-bottom: 18px;
}
.my-infos .content .icon img{
    width: 100px;
    height: 100px;
    margin-left: 30px;
    border-radius: 50px;
    border: 1px solid #9d9d9d;
    -webkit-box-shadow: 3px 3px 5px #9D9D9D;
    -moz-box-shadow: 3px 3px 5px #9D9D9D;
    box-shadow: 3px 3px 5px #9D9D9D;
}
.my-infos .content .icon button{
    margin-top: 50px;
    margin-left: 20px;
}
.my-infos .content .icon .icon-change-btn{
    margin-left: 140px;
    margin-top: -50px;
}
.my-infos .content .icon .icon-change-btn button{
    padding: 5px;
    background-color: #a0a0a0;
    color: white;
}
.my-infos .content .info{
    width: 90%;
    min-height: 50px;
    margin-left: 5%;
    margin-bottom: 18px;
    padding: 15px;
    font-size: 14px;
    border: 1px solid #D9D9D9;
    background-color: #F2F2F2;
}
.my-infos .content .info:hover{
    background-color: #E1E1E1;
}
.my-infos .content .info .tag{
    display: block;
    float: left;
    width: 100px;
    color: #333333;
}
.my-infos .content .info .value{
    color: #999999;
}
.my-infos .content .info .change{
    display: block;
    float: right;
    width: 50px;
    cursor: pointer;
    color: #0A8CD2;
}
.my-infos .content .signature .sig{
    margin-left: 20px;
    margin-right: 20px;
}
.my-infos .content .signature .old{
    clear: both;
    margin-top: 45px;
}
.my-infos .content .signature .new .sig{
    display: block;
    float: left;
    margin-top: 15px;
}
.my-infos .content .signature textarea{
    display: inline-block;
    resize: none;
    width: 60%;
    margin-top: 14px;
    margin-left: 5px;
    margin-right: 10px;
}
.my-infos .content .signature button{
    margin-left: 85%;
    margin-top: 10px;
}

/*性别单选框*/
.my-infos .content .gender ul.choose-gen {
    display: inline-block;
    height: 33px;
    list-style-type: none;
}
ul.choose-gen li{
    display: inline-block;
    height: 33px;
    margin-right: 20px;
}
input.labelauty + label{
    font: 12px "Microsoft Yahei";
}


/*安全中心*/
.my-security li a{
    color: black;
}
.my-security .content{
    padding-top: 20px;
}
.my-security .content .page{
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 20%;
    border: 1px solid #dddddd;
    border-top: none;
}
.my-security .content .page div{
    margin-bottom: 20px;
}
.my-security .content .page div input{
    width: 200px;
}
.my-security .content .page div label.error{
    margin-top: 8px;
    margin-left: 16px;
    font-weight: normal;
    color: red;
}
.my-security .content .page .change {
    margin-left: 60%;
}


/*诗集与收藏共用样式*/
.poem-remove, .col-remove, .share-remove{
    float: right;
    margin: 0 -20px 5px 0;
    cursor: pointer;
    color: #949494;
}
.poem-remove:hover, .col-remove:hover, .share-remove:hover{
    color: #333;
}
.poem-title a, .col-title a{
    font-size: 18px;
    line-height: 25px;
    margin: 0 0 5px;
    max-height: 60px;
    overflow: hidden;
    text-decoration: none;
    color: #949494;
}
.poem-author a, .col-author a{
    margin-right: 5px;
    color: #E67E22;
}
.poem-content, .col-content{
    color: #949494;
    line-height: 20px;
    padding-top: 20px;
    overflow: hidden;
    cursor: pointer;
}

/*我的诗集*/
.my-poems .content, .my-shares .content{
    padding-top: 20px;
}
.my-poems .poem, .my-shares .share{
    font-family: "微软雅黑", Arial, sans-serif;
    vertical-align:middle;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 8px;
    padding-top: 5px;
    border-top: 2px dotted #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    background-color: white;
}
.poem .img{
    height: 125px;
    padding: 0;
    overflow: hidden;
}
.poem .img img{
    /*width: 96%;*/
    /*margin-left: 2%;*/
    /*margin-right: 2%;*/
    overflow: hidden;
}
.poem-title{
    width: 60%;
    height: 25px;
    cursor: pointer;
}
.poem-title a{
    margin: 0;
    padding: 0;
    display: inline-block;
    max-width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
}
.poem-meta{
    float: right;
    margin-right: 15px;
}
.poem-meta .poem-author{
    vertical-align: middle;
    padding-top: 3px;
}
.poem-meta .poem-author a{
    display: inline-block;
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}
.poem-meta .poem-time{
    cursor: default;
    color: #a0a0a0;
    font-size: 12px;
}
.poem-content{
    height: 100px;
    padding-top: 15px;
}
.poem-content p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}

/*我的收藏*/
.collection{
    width: 43%;
    height: 90px;
    float: left;
    margin-left: 4%;
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: 1px dotted #CCCCCC;
    overflow: hidden;
}
.collection:hover{
    background-color: #eeeeee;
}
.collection .img{
    height: 80px;
    padding: 0;
    overflow: hidden;
}
.col-title{
    cursor: pointer;
    display: inline-block;
    margin-right: 3px;
}
.col-title a{
    font-size: 14px;
    color: black;
    max-width: 80px;       /*诗歌题目超过100px用...代替*/
    white-space: nowrap;  /*禁止文字自动换行*/
    overflow: hidden;
    text-overflow: ellipsis;  /*省略号*/
    display: inline-block;
}
.col-author a{
    font-size: 11px;
    max-width: 55px;      /*作者昵称超过60px用...代替*/
    white-space: nowrap;  /*禁止文字自动换行*/
    overflow: hidden;
    text-overflow: ellipsis;  /*省略号*/
    display: inline-block;
}
.col-content{
    padding-top: 3px;
    font-size: 11px;
}
.col-content p{
    width: 100%;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;  /*省略号：需设置white-space: nowrap; 禁止换行才可显示*/
}
.col-remove{
    margin-right: 0px;
}

/*我的转发*/
.my-shares .share{
    position: relative;
}
.my-shares .share .share-time{
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 13px;
    color: #949494;
}
.my-shares .share .shared-reason{
    margin-top: 25px;
}
.my-shares .share .orig{
    position: relative;
    margin: 5px 0;
    padding: 7px 10px;
    border: 1px dotted #8c8c8c;
    border-radius: 5px;
    background-color: rgb(245,245,245);
}
.my-shares .share .orig .img{
    float: left;
    width: 170px;
    height: 100px;
    overflow: hidden;
}
.my-shares .share .orig .orig-title{
    display: inline-block;
    width: 120px;
    margin: 10px 0 0 10px;
    text-decoration: none;
    color: #949494;
}
.my-shares .share .orig .orig-author{
    position: absolute;
    bottom: 10px;
    right: 15px;
    color: #E67E22;
    display: inline-block;
    width: 130px;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}