/*“今日推荐”*/
.recommend{
    font-family: "微软雅黑", Arial, sans-serif;
    width: 100%;
    margin-bottom: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-top: 5px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    background-color: white;
}
.recommend .img{
    height: 155px;
    overflow: hidden;
}
.recommend .img .img-wrap{
    width: 100%;
    height: 100%;
    margin-left: 10px;
    overflow: hidden;
}
.recommend .img img{
    overflow: hidden;
}
.recom-title a{
    font-size: 2rem;
    line-height: 30px;
    margin: 0 0 5px;
    max-height: 60px;
    text-decoration: none;
    cursor: pointer;
    color: black;
    display: inline-block;
    max-width: 350px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.recom-content{
    color: #949494;
    display: block;
    line-height: 20px;
    margin: 0;
    margin-top: 5px;
    overflow: hidden;
}
.recom-content p{
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.recom-meta{
    float: right;
    margin-right: 15px;
}
.recom-author a{
    margin-right: 10px;
    color: #E67E22;
    display: inline-block;
    margin-bottom: -4px;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.recom-time{
    cursor: default;
    color: #a0a0a0;
}

.setImgSmall{
    padding-top: 5px;
}
.setWordsSmall{
    padding-top: 10px;
    padding-left: 30px;
}
/*加载更多*/
.footer{
    text-align: center;
    font-size: 16px;
    margin-bottom: 30px;
}
.footer .more{
    color: #E67E22;
    cursor: pointer;
}
.footer .loading img{
    width: 30px;
}